form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em;
}
#size {
    display: block;
}

button {
    display: block;
    background-color: black;
    color: white;
}