body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightsalmon;
}

h1 {
  justify-self: center;
  font-size: clamp(1rem, 10vw, 3rem);
  justify-content: center;
}

fieldset {
  background-color: antiquewhite;
  position: relative;
  display: grid;
  gap: 0.5rem;
  max-width: 500px;
  height: auto;
  justify-self: center;
  border: 2px solid;
  margin: auto;
}

legend {
  margin: auto;
  padding: 1rem;
  color: rgb(87, 0, 0);
  font-size: larger;
  text-decoration: underline;
  text-decoration-color: black;
  position: relative;
  top: -10px;
}
select {
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box;
}
option {
  max-width: 100%;
}

select:focus {
  background-color: coral;
  color: white;
}

input {
  justify-self: center;
  padding: 10px;
}

input:focus {
  background-color: coral;
  color: white;
}

input[type="text"]:valid,
input[type="email"]:valid {
  background-color: coral;
}

input:focus::placeholder {
  color: white;
}

#sizeDiv {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-items: center;
}

input[type="radio"]:checked {
  accent-color: coral;
}

label:active {
  color: coral;
}

label {
  justify-self: start;

  font-weight: bold;
}

p {
  justify-self: center;
  font-style: italic;
  font-size: large;
  margin: auto;
  padding: 10px;
}

#buttonGroup {
  justify-self: center;
  font-size: larger;
  max-width: 500px;
}

button {
  border: 3px solid;
  border-radius: 10px;
  font-size: large;
  background-color: rgba(209, 105, 68, 0.623);
}

button:hover {
  color: rgb(114, 41, 15);
  opacity: 0.9;
}

button:active {
  color: red;
  scale: 1.2;
}

footer {
  opacity: 0.8;
  font-style: italic;
  scale: 0.8;
  justify-content: center;
  text-align: center;
}

@media (max-width: 600px) {
  #sizeDiv {
    grid-template-columns: repeat(1, 1fr);
  }
  #buttonGroup {
    justify-self: center;
    display: grid;
    width: 100%;
    justify-content: center;
  }
}
