body{
    
    width: vw1;
    height: vh1;
    background-color:aquamarine;
    font-family: 'Martin Mono', monospace;
    text-align: center;

}

.readMe{
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
}
.colum{
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*.wireFrame{
    display: inline-block;
    margin: 0 2% 0 40%;
    border-radius: 10px;
}
.branch{
    display: inline-block;
    margin: 0 40% 0 2%;
    border-radius: 10px;
}
    */
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;}
