:root {
  --paper: oklch(7 0 0);
  --ink: color-mix(in oklab, var(--color) 5%, black);
  --font: 100%/1.5 system-ui;
  --spaceroot : clamp(6px, 6px + 2vw, 15px);
  --line: 1px solid;
  --container: 1280px;
}