body{
    
    width: vw1;
    height: vh1;
    background-color:aquamarine;
    font-family: 'Martin Mono', monospace;
    text-align: center;

}

.readMe{
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
}
.wireFrame{
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
}
.branch{
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
}

