*{box-sizing: border-box; margin: 0;}
:root {
  --paper: oklch(7 0 0);
  --ink: color-mix(in oklab, var(--color) 5%, black);
  --font: 100%/1.5 system-ui;
  --space: clamp(6px, 6px + 2vw, 15px);
  --line: 1px solid;
  --container: 1280px;
}
body {
  background: var(--paper);
  color: var(--ink);
  font: var(--font);
  
}
.container{
     max-width: var(--container);
  margin: 0 auto;
  padding: var(--space);
}
main{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas: "first first"
                         "second third";
    gap: 1.5rem;
    margin:0.5rem;
   margin-bottom:4rem;
}
.pad{
   padding-left: var(--space);
}
article a {
  display: block;
  padding: var(--space);
  border: var(--line);
  max-width: fit-content;
  margin-left:  var(--space);
    
}
.readme-file{
    grid-area: first;
}
.wireframe{
    grid-area:second;
}
.branch-git{
    grid-area: third;
}
article {
  border: var(--line) ;
  padding-bottom: var(--space);
  text-align: left;
 
 }
  
 .site-header {
    text-align:center ;

 }
 
h1{
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);;
}
ul{
list-style: none;
}
footer{
 display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
z-index: 1000;
text-align: center;
}
footer a{
  border: none;
}
.readme-file img{
 width: 100%;
  height: 24rem;
}
.wireframe img, .branch-git img {
  width: 100%;
  height: 20rem;
 }
@media(max-width:400px)
{
  main{
    grid-template-areas: "first first"
    "second second "
    "third third";
  }
}