header{
  text-align: center;
  color:#ffffff;
  background-color: #04525e;
  padding: 5px;
  margin: 0px;
}

main{
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap:10px;
  padding-bottom:5px;
  margin:1% 10% 5% 10%;
}

.img{
  border-radius: 20px;
  max-width: 100%;
}

h2{
  text-align: center;
}

.first-article{
  background-color: #f0f2f7;
  grid-column-start: 1;
  grid-column-end: 3;
  border: solid #005292;
  padding:5px;
}

.second-article{
  grid-column-start: 1;
  grid-column-end: 2;
  border: solid #005292;
  padding:15px;
  border-radius: 5px;
}
.third-article{
  grid-column-start: 2;
  grid-column-end: 3;
  border: solid #005292;
  padding:15px;
  border-radius: 5px;
}

a {
display:inline-block;
background-color: #005292;
color: white;
padding: 10px;
margin-bottom: auto;
text-decoration: wavy;
outline: 2px solid #fab940;
border-radius: 2px;
}

figure{
  text-align: center;
  font-style: italic;
  font-size: small;
}

footer{
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background-color: #04525e;
  color:#ffffff;
}