:root {
  --paper: oklch(7 0 0);
  --ink: color-mix(in oklab, var(--color) 5%, black);
  --font: 100%/1.5 "Comic Neue", cursive, uppercase;
  --space: clamp(6px, 6px + 2vw, 15px);
  --line: 1px solid;
  --container: 1280px;
}

h1{
  text-align: center;
}

body {
  background: var(--paper);
  color: var(--ink);
  font: var(--font);
}
a {
  padding: var(--space);
  border: var(--line);
  max-width: fit-content;
  color: var(--color)
}
img,
svg {
  width: 100%;
  object-fit: cover;
}


main {
  max-width: var(--container);
  margin: 0 auto calc(var(--space) * 4) auto;
  display: grid;
  grid-template-columns: 1fr;
  }


article {
  border: var(--line);
  padding-bottom: var(--space);
  text-align: left;
  display: grid;
  grid-template-columns: var(--space) 1fr var(--space);
  > * {
    grid-column: 2/3;
  }
  > img {
    grid-column: span 3;
  }
}

article h2{
  margin-bottom:0px;
}

article p {
  margin-top:4px;
}
